{% extends "base.html" %}

{% block title %}Payment Failures{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">MedSync Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link position-relative" href="{{ url_for('admin_notif') }}">Notifications</a>
                </li>
                <li class="nav-item">
                    <li class="nav-item">
                        <a class="nav-link position-relative" href="/retrieveMessages">Retrieve Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link position-relative" href="/view_errors">Contact Us Error Log </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link position-relative" href="http://localhost:8501">AI Error Log Analysis</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin_login') }}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
    <h1 class="my-4">Comment Failures</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>IP Address</th>
                    <th>Failure Count</th>
                    <th>Last Failed At</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody>
                {% for failure in failures %}
                <tr>
                    <td>{{ failure.id }}</td>
                    <td>{{ failure.ip_address }}</td>
                    <td>{{ failure.failure_count }}</td>
                    <td>{{ failure.last_failed_at }}</td>
                    <td>{{ failure.reason }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}